<!DOCTYPE html>
<!--*************************** 
 * UCSD CSE 134B SP15
 * Authors: Andrew Wang
 *          Jonathan Ho
 *          Long Tran
 * DATE: May 31st, 2015
 ***************************-->
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="bullion management site, rare coins, gold, silver, platinum">
    <meta name="author" content="CSE134B Dream Team">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <meta name=viewport content="width=device-width, initial-scale=.8, minimum-scale = .8, user-scalable=yes">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <script src="../js/jquery-1.11.2.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.5/firebase.js"></script>
    <script src="../js/velocity.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/team3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
    <title>New Item - CoinFlip</title>
</head>

<body>
    <script type="text/javascript">
        /* Checks for authetication. If no authentication, sends to index.html
           for authentication process */
        var ref = new Firebase("https://cse134bteam3-hw5.firebaseio.com");
        var authData = ref.getAuth();
        if(authData){

        } else {    
            document.location = "../index.html";
        }
        loadTopNav();
    </script>
    <script type="text/javascript">
        loadSideNav(1);
    </script>
    <section class="main-section">
        <section class="coin_wrapper">
            <div class="mobile-nav">
                <a href="wire3_g.html">
                    <svg class="icon icon-keyboard-arrow-left">
                        <symbol id="icon-keyboard-arrow-left" viewBox="0 0 1024 1024">
                            <title>keyboard-arrow-left</title>
                            <path class="path1" d="M657.707 696.96l-195.627-195.627 195.627-195.627-60.373-60.373-256 256 256 256z"></path>
                        </symbol>
                        <use xlink:href="#icon-keyboard-arrow-left"></use>
                    </svg>
                </a>
                ADD ITEM
            </div>
            <div class="coin_main">
                <a href="wire3_g.html">
                    <div class="breadcrumb">
                        <svg class="icon icon-play-arrow-rev">
                            <symbol id="icon-play-arrow" viewBox="0 0 1024 1024">
                                <title>play-arrow</title>
                                <path class="path1" d="M682.667 213.333v597.333l-469.333-298.667z"></path>
                            </symbol>
                            <use xlink:href="#icon-play-arrow"></use>
                        </svg>
                        Add Item
                    </div>
                </a>
                <section class="coin_image">
                    <div class="img_box">
                        <div class="img_circle"></div>
                    </div>
                </section>
                <section class="coin_detail">
                    <form method="post">
                    <table id="updateForm">
                        
                    </table>
                    </form>
                    <span id="save" onclick="saveDataToFirebase('', '')">Save to My Stack</span>
                    <span id="cancel" onclick='returnPage()'>Cancel</span>
                </section>
            </div>
        </section>
    </section>
    <script type="text/javascript">
        loadFooter();

        
        // Parse URL string for information on ID and metal type needed for DB
        var query = "";
        var querysplit = "";
        // Two arguments means that a coin ID is attached 
        if(location.href.indexOf('&') >= 0){
            query = location.href.substring((location.href.indexOf('?') + 1)
                                            , location.href.length);
            querysplit = query.split('&');

            // Make sure sidebar gets updated with right metal
            if(querysplit[0] == 'gold'){
                loadSideNav(1);
            } else if(querysplit[0] == 'silver'){
                loadSideNav(2);
            } else {
                loadSideNav(3);
            }
        } else { // Only one argument means we only have information on metal
            query = location.href.substring((location.href.indexOf('?') + 1),
                                             location.href.length);
            if(query == "gold"){
                loadSideNav(1);
            } else if(query == "silver"){
                loadSideNav(2);
            } else {
                loadSideNav(3);
            }
        }
        window.onload = function(){
            if(location.href.indexOf('&') >= 0){ // We are adding a new coin
                new Firebase("https://cse134bteam3-hw5.firebaseio.com").child("users")
                        .child((new Firebase("https://cse134bteam3-hw5.firebaseio.com")).getAuth().uid)
                        .child(querysplit[0]).child(querysplit[1]).on("value", function(data){ 
                    $("#updateForm").html(loadForm(data.val(), querysplit[0]));
                });
                // Change saveData arguments appropriately
                $("#save").attr("onClick", "saveDataToFirebase('" + ((new Firebase("https://cse134bteam3-hw5.firebaseio.com")).getAuth().uid).toString() + "', '" + querysplit[1] + "')");
            } else { // We are updating an old coin's entry
                $("#updateForm").html(loadForm(0, query));
            }
        }
        // Load default date
        $("fbpd").attr("value", getDate());

        function getDate(){
            return formatDate(new Date());
        }

        function returnPage(){
            var query = location.href.substring((location.href.indexOf('?') + 1), location.href.length);
            document.location = "wire3_" + query.substring(0, 1) + ".html";
        }

        function receiveAggregateData(data){
        }
    </script>
</body>

</html>
